.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.tiles {
  width: 25%;
}

.diem {
  width: 75%;
}
.events {
  /* color: red; */
  display: flex;
  flex-direction: row;
  padding: 2px;
  margin: 4px;
  border: black;
  justify-content: space-between; /* border-width: 5px; */
  border-style: solid;
  border-radius: 7px;
  width: 30vw;
}

.addEvent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 30vw;
}
.addEventInput {
  margin-bottom: 5px;
  border-bottom: 3px;
  border: black;
}
