.DiemColorPicker__ColorPicker {
  display: flex;
  justify-content: flex-end;
  margin-top: 1em;
  margin-right: 15px;
}

.DiemColorPicker__Colors {
  border-radius: 50%;
  overflow: hidden;
  margin-right: -15px;
  height: 50px;
  width: 50px;
  object-fit: cover;
  border: solid 2px #f7f9fb;
}

#red:hover {
  opacity: 1;
  border: #f28b82 solid 1px;
}

#orange:hover {
  opacity: 1;
  border: #fabd04 solid 1px;
}

#yellow:hover {
  opacity: 1;
  border: #fff476 solid 1px;
}

#green:hover {
  opacity: 1;
  border: #ccff90 solid 1px;
}

#purple:hover {
  opacity: 1;
  border: #d7affb solid 1px;
}
