.newdiem {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: row;
}

.newdiem input {
  margin: 1rem 1rem;
}
.newdiem input[type='radio'] {
  margin: 1rem 0.25em;
}
.newdiem input[type='text'] {
  border: solid 2px red;
}

.colorPicker {
  display: flex;
  align-items: center;
}

.colors {
  height: 30px;
  width: 30px;
  border: solid 2px #f7f9fb;
}
