.tile {
  height: 10rem;
  width: 15rem;
  border-radius: 7px;
  background-color: rgb(255, 127, 140);
  padding: 0.75rem;
  margin: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.25s;
}

.tile:hover {
  cursor: pointer;
  opacity: 0.85;
  transform: scaleX(1.02);
}

.tile__profilePics_container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1.75em;
}

.tile__profilePic {
  border-radius: 50%;
  overflow: hidden;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.tile__date {
  font-weight: 700;
}

.tile h1 {
  font-size: 20px;
  font-weight: 700;
}
