.tile {
  height: 10rem;
  width: 15rem;
  border-radius: 5px;
  color: rgb(40, 40, 40);
  padding: 1rem;
  margin: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  transition: transform 0.25s;
}

.tile:hover {
  cursor: pointer;
  opacity: 0.75;
  transform: scaleX(1.02);
}

.tile__profilePics_container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2em;
  margin-right: 1rem;
}

.tile__profilePic {
  border-radius: 50%;
  overflow: hidden;
  margin-right: -12px;
  height: 46px;
  width: 46px;
  object-fit: cover;
  border: solid 2px #f7f9fb;
}

.tile__profilePic_plusSign {
  border-radius: 50%;
  overflow: hidden;
  margin-right: -5px;
  height: 25px;
  width: 25px;
  object-fit: cover;
  z-index: 10;
  align-self: center;
  border: solid 2px #f7f9fb;
}

.tile h1 {
  font-size: 18px;
  font-weight: 800;
}

.diem_date_first {
  font-size: xx-large;
  font-weight: bolder;
}
.diem_date_second {
  font-size: x-large;
}
.tile_whole {
  display: flex;
  flex-direction: column;
}

.deleteDiem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
