.tile {
  height: 8rem;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  transition: transform 0.25s;
}

.tile:hover {
  cursor: pointer;
  opacity: 0.75;
  transform: scaleX(1.02);
}

.tile h1 {
  font-size: 18px;
  font-weight: 800;
}

.diem_date_first {
  font-size: xx-large;
  font-weight: bolder;
}
.diem_date_second {
  font-size: x-large;
}
.tile_whole {
  display: flex;
  flex-direction: column;
}

.deleteDiem {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
